{% extends "base.html" %} 

{% block title %}Об авторе проекта{% endblock %} 

{%block content %}
<div class="container py-5">
  <h1>Привет, я Максим</h1>
  <article>
    <p>Расскажу немного о себе. Мне 36 лет.</p>
    <p>
      Сейчас я параллельно получаю образование по специальностям DataScience и
      Data Engineering и осваиваю Python на курсах
      <a href="https://practicum.yandex.ru/backend-developer/">
        Яндекс.Практикум</a
      >.
    </p>
    <p>
      Ознакомиться с тем, как у меня продвигается обучение и чему я научился
      можно на моём github по <a href="https://github.com/msavilov">ссылке</a>.
    </p>
    <p>
      После почти десятка лет работы в сфере снабжения и после того, как по
      командировкам я проездил почти треть России, я решил вернуться к IT,
      которыми я увлекался ещё в школьные годы.Толчком к осознанию необходимости
      смены сферы деятельности послужило то, что я понял, что я перестал
      развиваться на своём месте. Из года в год менялось только количество
      человек у меня в подчинении. Единственное, что вдохновляло меня - это
      интересные проекты, но таких очень мало. Поэтому и решил перейти в ту
      сферу, где можно развиваться всё время, а также не пропадать месяцами в
      бесконечных командировках.
    </p>
    <p>
      Наверное, большинство скажет: "Зачем получать сразу 3 образования? это
      очень сложно." Но меня вдохновляют амбициозные проекты, требующие
      организации работы и творческого подхода.
    </p>
    <p>Дополнительную подпитку энергией я нахожу в беге: для меня он выступает 
        в роле медитации, когда есть только ты и твой маршрут. 
        Особую роль в моей жизни занимают путешествия по диким районам нашей 
        страны. 
    </p>
  </article>
</div>
{% endblock %}