{% extends "base_for_form.html" %} 

{% block title %}Изменение пароля{% endblock %}

{% block include_header %}Изменить пароль{% endblock %}

{% block content %}
  {% load user_filters %}
  {% include 'includes/form_errors.html' %}
  <form method="post" action="{% url 'users:password_reset_form' %}">
    {% csrf_token %}
    {% include 'includes/field_for_form.html'%}
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">
        Изменить пароль
      </button>
    </div>
  </form>
{% endblock %}
