{% extends "base_for_form.html" %} 
{% block title %}Новый пароль{% endblock %} 

{% if validlink %}
  {% block include_header %}Введите новый пароль{% endblock %}

  {% block content %}
  <p>Вы вышли из своей учётной записи. Ждём вас снова!</p>
  {% endblock %}

  {% block content %}
    {% include 'includes/form_errors.html' %}
    <form method="post" action="{% url 'users:password_reset_confirm' 
      uidb64=uid token=token %}">
      {% csrf_token %}
      {% include 'includes/field_for_form.html'%}
      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
          Назначить новый пароль
        </button>
      </div>
    </form>
  {% endblock %}
{% else %}
  {% block include_header %}Ошибка{% endblock %}

  {% block content %}
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  {% endblock %}
{% endif %}