{% extends "base_for_form.html" %}

{% block title %}Зарегистрироваться{% endblock %}

{% block include_header %}Зарегистрироваться{% endblock %}

{% block content %}
  {% include 'includes/form_errors.html' %}
  <form method="post" action="{% url 'users:signup' %}">
    {% csrf_token %}
    {% include 'includes/field_for_form.html'%}
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">
        Зарегистрироваться
      </button>
    </div>
  </form>
{% endblock %}
